    <div id = 'data'>
    <% data.forEach(function(list){ %>
      <div class = 'list'>
            <div class = 'pic'>
              <a href="<%= list.f_href %>" target = '_blank'><img src="<%= list.picsrc %>" alt = 'pic'/></a>
            </div>
            <div class = 'info'>
            <li>片名：<%= list.name %></li>
            <li>类型：<%= list.type %></li>
            <li>时长：<%= list.mins %></li>
            <li>语言：<%= list.language %></li>
            <li>导演：<%= list.director %></li>
            <li>主演：<%= list.actor %></li>
            <li>影院：<%= list.ciname %></li>
            <li>地址：<%= list.address %></li>
            <li>开始时间：<%= list.start %></li>
            <li>退场时间：<%= list.end %></li>
            <li>上映日期：<%= list.date %></li>
            <li>平台：<%= list.platform %></li>
            <li>价格：<%= list.price %></li>
            </div>
        
      </div>
    <% }) %>
    </div>