<!DOCTYPE html>
<% include ./public/head %>
<body>
<!-- Header goes here -->
<% include ./public/header %>
    <!-- 巨幕展示 -->
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="http://img31.mtime.cn/mg/2016/02/23/111550.50105367.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3>树懒先生极致的慢生活</h3>
                    <h5 class="light grey-text text-lighten-3">i'm going crazy!!!!</h5>
                </div>
            </li>
            <li>
                <img src="http://img31.mtime.cn/mg/2016/03/03/145109.47039961.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3>一代宗师，延续传奇</h3>
                    <h5 class="light grey-text text-lighten-3">再现巅峰！</h5>
                </div>
            </li>
        </ul>
    </div>

    <!-- Page Layout here -->

    <div class="row mycontainer">
        <% data.forEach(function(list){ %>
        <div class = 'list'>
            <div class="col s6 m4 l2">
                <div class="card center-align myclick">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img data-target="modal_<%= list.f_id %>" class="modal-trigger responsive-img" style = "width:auto;padding-top: 10px;" src="<%= list.picsrc %>" alt = '<%= list.name %>'>
                    </div>
                    <div class="card-content" style="padding: 12px;font-size: 10px">
                        <span title="点击这里查看详细信息" class="card-title activator grey-text text-darken-4 truncate" style="font-size: 16px;line-height: 24px;><a href="<%= list.f_href %>" target = '_blank'><%= list.name %></a></span>
                    </div>
                    <div class="card-reveal left-align mycard" style = "padding: 0px 5px;box-sizing: initial;background: rgba(75,75,75,0.7);color:white;font-size: 14px">
                        <p>评分：<%= list.grade %></p>
                        <p class = "truncate">类型：<%= list.type %></p>
                        <p>时长：<%= list.mins %></p>
                        <p>语言：<%= list.language %></p>
                        <p>导演：<%= list.director %></p>
                        <p class = "truncate">主演：<%= list.actor %></p>
                    </div>
                    <!--信息选择弹出-->
                    <div id="modal_<%= list.f_id %>" class="modal modal_info" style="height:80%;width: 92%;">
                        <div class="modal-content myfixed">
                            <h5 value="<%= list.f_id %>">您当前锁定的影片是:<%= list.name %></h5>
                            <!--三级联动-->
                            <div class="selectList">
                                <select class="city myselect">
                                    <option>请选择城市</option>
                                </select>
                                <select class="district myselect">
                                    <option>请选择地区</option>
                                </select>
                                <select class="cinema myselect">
                                    <option>请选择影院</option>
                                </select>
                                <select class="date myselect">
                                    <option>今天</option>
                                    <option>明天</option>
                                    <option>后天</option>
                                </select>
                            </div>
                            <!--end-->
                        </div>
                        <div class = "createTable">
                            <!--表格数据区域-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <% }) %>
    </div>
<!--
    <div id="app">
        <p>您正在检索的是：{{ messages }}</p>
        <p>Search <input v-model = 'messages' type = "text" id = 'search' placeholder = 'find your film' /></p>
    </div>

    <p>Author :studentech</p>
    <p>Refresh Time :<%= date %></p>

    <div id = 'data'>

    </div>
  -->
<!--Footer begain here-->
<% include ./public/footer %>

<script>
    new Vue({
        el: '#app',
        data: {
            messages: '叶问',
            newTodo:'',
            todos:[],
            selected: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        },

        methods:{
            addTodo:function(){
                var text = this.newTodo.trim();
                if(text){
                    this.todos.push({name:text});
                    this.newTodo = '';
                }
            },
            removeTodo:function(index){
                this.todos.splice(index,1);
            }
        }
    })
    $(".button-collapse").sideNav();
    $(document).ready(function(){
        //配置巨幕
        $('.slider').slider({
            full_width: true,
            height:450
//              Indicators（指示器）
//              Transition（动画时间
//              Interval（轮播间隔
        });
        //打开模态弹窗
        $('.parallax').parallax();
        $('.modal-trigger').leanModal({
            dismissible: true, // 点击模态框外部则关闭模态框
            opacity: .5, // 背景透明度
            in_duration: 300, // 切入时间
            out_duration: 200, // 切出时间
            //ready: function() { alert('Ready'); }, // 当模态框打开时执行的函数
            //complete: function() { alert('Closed'); } // 当模态框关闭时执行的函数
        });

        $('.myclick').mouseleave(function (){
            $(this).children('.card-reveal').fadeOut(800);
        });
        $('.myclick').click(function(){
            $(this).children('.card-reveal').fadeIn(800);
        });
        //三级联动

        $(".selectList").each(function(){
            var url = "/linkList";
            var areaJson = [];
            var temp_html;
            var oCity = $(this).find(".city");
            var oDistrict = $(this).find(".district");
            var oCinema = $(this).find(".cinema");
            //初始化城市
            var city = function(){
                $.each(areaJson,function(i,city){
                    temp_html += "<option value = '" + city.c + "'>" + city.c + "</option>";
                });
                oCity.html(temp_html);
                district();
            };
            //初始化区域
            var district = function(){
                temp_html = "";
                var n = oCity.get(0).selectedIndex;
                $.each(areaJson[n].d,function(i,district){
                    temp_html += "<option value = '" + district.dt + "'>" + district.dt + "</option>";
                });
                oDistrict.html(temp_html);
                cinema();
            };
            //初始化影院
            var cinema = function(){
                temp_html = "";
                var n = oCity.get(0).selectedIndex;
                var m = oDistrict.get(0).selectedIndex;
                if(typeof(areaJson[n].d[m].cim) == "undefined"){
                    oCinema.css("display","none");
                }else{
                    oCinema.css("display","inline");
                    $.each(areaJson[n].d[m].cim,function(i,cinema){
                        temp_html += "<option value = '" + cinema.cid + "'>" + cinema.cit + "</option>";
                    })
                }
                oCinema.html('<option disabled selected>请选择影院</option>');
                oCinema.append(temp_html);


            };
            //选择城市改变区域
            oCity.change(function(){
                district();
            });
            //选择城市改变影院
            oDistrict.change(function(){
                cinema();
            });
            //获取当前影院下的影片价格数据
            oCinema.change(function(){
                var selectedFilmID = $(this).parent().prev().attr('value');
                var selectedCinemaID = oCinema.find("option:selected").attr('value');
                var $$ = $(this).parent().parent().next('.createTable');
                $.ajax({
                    url:'/priceJson',
                    type:'POST',
                    async:false,
                    timeout:500,
                    data:{
                        selectedCinemaID:selectedCinemaID,
                        selectedFilmID:selectedFilmID
                    },
                    dataType:'json',
                    success:function(result){
                        if(result){
                            result = JSON.parse(result);
                            createShowingTable(result,$$);
                        }else{
                            alert('Result is null!');
                        }

                    },
                    error:function(){
                        alert('Ajax err!');
                    }

                })
            })
            //获取影院json数据
            if(areaJson == ''){
                $.getJSON(url,function(data){
                    areaJson = data;
                    city();
                });
            }

            //动态的创建一个table
            function createShowingTable(data,$$) {
                var tableStr = "<table class='striped'>";
                tableStr = tableStr
                        +"<thead>"
                        +"<tr>"
                        +"<td>序列</td>"
                        +"<td>场次</td>"
                        +"<td>格瓦拉</td>"
                        +"<td>美团(猫眼)</td>"
                        +"<td>淘宝电影</td>"
                        +"<td>糯米</td>"
                        +"<td>大众点评</td>"
                        +"</tr>"
                        +"</thead><tbody>";
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    //console.log(data[i].price_id);
                    tableStr = tableStr + "<tr>"
                            +"<td>"+ (i+1) + "</td>"
                            + "<td>"+ data[i].start_time+"</br><span style='font-size: 12px;color: chocolate;float:left;margin-left: -8px'>散场"+ data[i].end_time + "</span></td>"
                            + "<td value='gewara'>" + data[i].price +"</br><span style='font-size: 12px;color: chocolate;float:left;margin-left: -13px'>"+ data[i].standard + "</span></td>"
                            +"<td style='color: chocolate;'>暂无接入</td>"
                            +"<td style='color: chocolate;'>暂无接入</td>"
                            +"<td style='color: chocolate;'>暂无接入</td>"
                            +"<td style='color: chocolate;'>暂无接入</td>"
                            +"</tr>";
                }
                if(len==0){
                    tableStr = tableStr + "<tr>"
                            +"<td colspan='7' style='text-align: center' ><font color='#cd0a0a'>暂无记录！</font></td>"
                            +"</tr>";
                }
                tableStr = tableStr + "</tbody></table>";
                //添加到div中
                $$.html(tableStr);
            }

        });
    });

</script>
</body>
</html>
