<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %> !</h1>
    <p>Search <input type = "text" id = 'search' placeholder = 'find your film' /></p>
    <p>Author :studentech</p>
    <p>Refresh Time :<%= date %></p>
    <div id = 'data'>
    <% data.forEach(function(list){ %>
    	<div class = 'list'>
            <div class = 'pic'>
    		<a href="<%= list.f_href %>" target = '_blank'><img src="<%= list.picsrc %>" alt = 'pic'/></a>
            </div>
            <div class = 'info'>
            <li>片名：<%= list.name %></li>
            <li>类型：<%= list.type %></li>
            <li>时长：<%= list.mins %></li>
            <li>语言：<%= list.language %></li>
            <li>导演：<%= list.director %></li>
            <li>主演：<%= list.actor %></li>
            <li>评分：<%= list.grade %></li>
            </div>
    		
    	</div>
    <% }) %>
    </div>
  </body>
</html>
